@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.background
{
    height: 100vh;
    width: 100vw;
    background-image: url("./assests/back.jpg");
    background-size: cover;
    background-repeat: no-repeats;
}

.hero
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main
{
    /* height: 70vh; */
    width: 50vw;
    background-color: rgb(250, 248, 248);
    border-radius: 2vh;
    opacity: 0.8;
    
}
.heading
{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    padding-top: 3vh;
    font-size: 5vh;
}

.input
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6vh;
}

.in
{
    width: 20vw;
    height: 5vh;
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: none;
    color: white;
    padding: 1vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.add
{
      width: 7vw;
      height: 5vh;
      background-color: green;
      border: none;
      color: white;
      text-transform: capitalize;
      margin-left: 6vh;
      font-family: "Montserrat", sans-serif;
      font-weight: 500;
}


.taskslist
{
    /* height: 40vh; */
    width: 45vw;
    background-color: rgb(23, 23, 23);
    margin-top: 5vh;
    padding: 5vh;
}

.tasklistmain
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.taskslist ul li
{
    color: white;
    padding-left: 10vh;
    text-decoration: none;
    border: 2px solid white;
    border-collapse:separate;
   margin-top: 2vh;
   background-color: white;
   color: black;
   list-style: none;
   font-size: 17px;
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   user-select: none;
   cursor: pointer;
   position: relative;
   padding-bottom: 1vh;
}

.taskslist ul li::before
{
  content: "";
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-image: url("./assests/uncheck.png");
  background-size: cover;
  background-position: center;
  left:5vh;
  border: 2px solid black;
  top:0.8vh;
}

ul li.checked
{
   text-decoration: line-through;
   color: red;
}


ul li.checked::before
{
    background-image: url("./assests/check.webp");
}

ul li span
{
    position: absolute;
    /* padding-left: 70vh; */
    left:80vh;
    font-size: 3vh;
}

ul li span:hover
{
    
    background-color: gray;
    border-radius: 10%;
}

.footer
{
    text-align: center;
    background-color: white;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

.timed
{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 2vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}